

.banner {
    position: relative;
    background: rgb(63, 46, 36);
    .banner_con {
        height: 450px;
        width: 100%;
        background: url('../img/selfrollbk-0606.png') no-repeat center ;
        
    }
}

.banner_mid {
    width: 800px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    ul li{
        position: absolute;
        height: 450px;
        display: none;
        img{
            width: 100%;
        }
    }
    ul li:nth-of-type(1){
        display: block;

    }
    ol {
        position: absolute; 
        bottom: 10px;
        left: 50%;
        margin-left:-21*2px;
        li {
            display: inline-block;
            width: 21px;
            height: 21px;
            background: url('../img/b_icon.png') no-repeat 0 0;
        }
        .active {
            background: url('../img/b_icon.png') no-repeat -21px 0;
        }
    }
}
.banner_right {
    position: absolute;
    top: 0;
    right: 70px;
    width: 205px;
    height: 450px;
    background:white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.br_tab {
    width: 205px;
    height: 120px;
}

$toolW :202px;
$tool:".atool";
.br_tool {
    a{
        display: block;
        height: 60px;
        width: $toolW/3;
        background: white;
        float: left;
        border-right: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
    }
    .atool-3,.atool-6,.atool-9 {
        border-right: none;
    }
    .atool-7,.atool-8,.atool-9 {
        border-bottom: none;
    }
}
.br_ad {
    width: 100%;
    margin-bottom: 0px;
}
#left,#right{

    position: absolute;
    top:50%;
    margin-top: -30px;
    display: block;
    width: 28px;
    height: 62px;
    font: 400 22px/62px simsun;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
    pointer-events: auto;
    display: none;
}
#left{
    float: left;
    left: 0;
}
#right{
    right: 0;
    float: right;
}



// @for $i from 1 through 9 {
//     @if #{$i} == 3 {   
//         .atool-#{$i}{
//         border-right: 1px dashed green;
//         }
//     }
// }
    // @if(#{$i} < 6){
    //     a:nth-of-type(#{$i}) {
    //         border-bottom: 1px dashed #ddd;
    //     }