$width:1210px;

/*!------------------------------------公共样式-----------------------------------------*/
.wrap {
    width: $width;
    margin: 0 auto;
}
.themeGreen {
    background-color: #2d8800;
}
.themeRed{
    background-color: #c30000;
}