
    #loutinav {
        // width: 75px;
        position: fixed;
        top: 150px;
        left: 0;
        border: 1px solid #ddd;
        display: block;
        z-index: 9999;
    }
    
    #loutinav ul li {
        width: 75px;
        height: 37px;
        border-bottom: 1px dotted #DDDDDD;
        list-style: none;
        font-size: 12px;
        text-align: center;
        position: relative;
        cursor: pointer;
        background: #fff;
        color: black;
    }
    
    #loutinav ul li span {
        display: block;
        width: 75px;
        height: 37px;
        line-height: 37px;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #loutinav ul li.last {
        // background: #5e4a4a;
        color: #fff;
        line-height: 37px;
        border-bottom: 1px solid #ddd;
    }
    
    #loutinav ul li.active span {
        background: #2d8800;
        color: #fff;
        display: block;
    }
    
    #loutinav ul li:hover span {
        background: #2d8800;
        color: #fff;
        display: block;
    }