

.login_cont {
    float: right;
    margin-top: 30px;
    margin-right: 34px;
}

.login_inside {
    width: 306px;
    padding: 10px 33px;
    border:  1px solid #fff;
    background-color: #f7f8f8;
    margin: 3px auto;
    height: 436px;
    border: 1px solid #dcdddd;

    span {
        display: block;
        height: 20px;
        line-height: 20px;
        text-align: left;
        color: #595757;
        font-size: 16px;
        font-weight: normal;
        font-family: "Microsoft YaHei";
    }

    input {
        width: 100%;
        height: 28px;
    }
    .submitBtn {
        width: 209px;
        height: 30px;
        float: left;
        color: #fff;
        background: url(../img/login.png) 0px -5px no-repeat;
        border: none;
        cursor: pointer;
    }
    .res {
        display: block;
        width: 79px;
        height: 30px;
        line-height: 30px;
        font-family: "Microsoft YaHei";
        font-weight: bold;
        font-size: 16px;
        background: url(../img/login.png) no-repeat -89px -149px;
        text-decoration: none;
        text-align: center;
        float: right;
        color: #479202;
    }
}
.sp {
    line-height: 22px;
    height: 22px;
    margin-top: 2px;
    a {
        display: block;
        float: right;
        color: lightgray;
        font-size: 12px;
    }
}

.spp{
    height: 32px;
}
.thridlogin {
    margin-top: 22px;
    padding-top: 15px;
    border-top: 1px dashed #aaaaaa;

    width: 100%;
    p {
        height: 16px;
        line-height: 16px;
        color: #595757;
        font-size: 12px;
    }
    ul {
        width: 100%;
        height: 100px;
        li {
            
            height: 20px;
            line-height: 20px;
            float: left;
            padding: 0px 16px 0px 0px;
            margin: 10px 10px 0px 0px;
            display: block;
            border-right: #dcdddd 1px solid;          
            i {
                width: 16px;
                height: 20px;
                display: inline-block;
                background: url(../img/login.png) no-repeat;
            }
            a{
                display: inline-block;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                margin-left:4px;
                float: right;
            }
        }
        //注意是在li中的，不是一起的，不能嵌套写
        @for $i from 1 through 4 {
            li:nth-of-type(#{$i})  i{
                background-position: -209px -55px - 20*$i;
            }
        }
        @for $i from 5 through 9 {
            li:nth-of-type(#{$i})  i{
                background-position: -209px -159px - 20*($i - 5);
            }
        }
    }
}