@charset "utf-8";
@import "global";///引入全局样式
@import "common";///引入公共样式
@import "navigation";//引入导航样式
@import "header";//引入局部文件
@import "mainnav";//引入主界面导航样式
@import "banner";//引入banner
@import "contentFrame";//引入内容框架
@import "elevator";//引入内容框架
// @import "footer";//引入局部文件
// @import "nav";//引入局部文件
// @import "effect";//引入局部文件

.br_tab a {
    display: inline-block;
    width: 63px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.br_tab div {
    width: 100%;
    height: 76px;
    font-size: 12px;
    display: none;
    border-bottom: 1px dashed rgb(213,213,213);
    ul{
        width: 166px;
        height: 77px;
        margin: 10px auto;
        li{
            list-style-type: disc;
            margin-left: 15px;
        }
    }
}

.br_tab .active {
    border-bottom: 2px solid #2d8800;
}

.adv_top a {
    width: 100%;
    height: 100px;
    display: block;
    background: url("http://pic3.womai.com/upload/backend/2018/05/31/18/1527762470957.jpg") no-repeat;
    background-position-x: center;
}

