@import "common";
@import "rLHeader";

.bg {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    background:url('https://passport.womai.com/upload/2018/6/8/20180608100544784.jpg') no-repeat;
}



