@charset "UTF-8";
/*!------------------------------------公共样式-----------------------------------------*/
.wrap {
  width: 1210px;
  margin: 0 auto; }

.wrapRL {
  width: 1000px;
  margin: 0 auto; }

.themeGreen {
  background-color: #2d8800; }

.themeRed {
  background-color: #c30000; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input, button {
  margin: 0;
  padding: 0; }

address, cite, dfn, em, var, i {
  font-style: normal; }

body {
  font-size: 12px/150% Arial, Tahoma, "宋体";
  line-height: 1.5;
  font-family: 'Microsoft Yahei','simsun','arial','tahoma';
  color: #606060;
  background: #ffffff; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, th {
  font-size: 100%;
  font-weight: normal; }

button, input, select, textarea {
  font-size: 100%; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none;
  color: #666;
  background: none; }

ul, ol {
  list-style: none; }

:focus {
  outline: none; }

.clearfix {
  clear: both;
  content: "";
  display: block;
  overflow: hidden; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

a:hover {
  color: #2d8800;
  text-decoration: underline; }

/*! 测试依稀啊*/
.header {
  border-bottom: 2px solid #2d8800; }

.logo {
  display: inline-block;
  padding-left: 10px; }

.bgsize, .bg0, .bg {
  margin-top: 20px;
  width: 100%;
  height: 500px; }

.bg {
  background: url("https://passport.womai.com/upload/2018/6/8/20180608100544784.jpg") no-repeat; }

.header span {
  display: block;
  float: left;
  margin: 20px;
  font-size: 20px;
  line-height: 36px;
  color: #333333;
  font-family: "Microsoft YaHei" !important; }

.header .header_r {
  margin: 20px;
  line-height: 36px;
  color: #999999; }
  .header .header_r a {
    color: #333333; }

.bg_r {
  width: 302px;
  height: 467px;
  margin-right: 40px;
  margin-top: 10px;
  float: right; }

.res_inside {
  width: 285px;
  padding-top: 15px;
  background-color: #f7f8f8;
  margin: 3px auto;
  height: 436px; }
  .res_inside input {
    width: 275px;
    height: 30px; }
  .res_inside .wrong-tip {
    height: 20px;
    color: red;
    font-size: 12px; }
  .res_inside span, .res_inside a {
    font-size: 12px; }
  .res_inside .yzm input {
    width: 150px;
    float: left; }
  .res_inside .yzm button {
    width: 100px;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    background-color: #43a41b;
    font-size: 14px;
    float: right; }
  .res_inside .check {
    margin-top: 20px;
    float: left; }
    .res_inside .check input {
      width: 10px;
      height: 10px; }
  .res_inside .submitBtn {
    margin-top: 20px;
    float: left; }
    .res_inside .submitBtn input {
      width: 285px;
      height: 36px;
      color: #fff;
      text-align: center;
      line-height: 36px;
      cursor: pointer;
      background-color: #43a41b;
      font-size: 18px; }
